@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="container">
    <div class="text-center my-4">
        <img src="~/images/logo.png" alt="FlightEase Logo" class="img-fluid" style="max-width: 200px;">
    </div>

    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to FlightEase</h1>
        <p class="lead">Your one-stop solution for booking flights between major world cities.</p>
        <hr class="my-4">
        <p>Experience flexibility in travel planning, customer convenience, and personalized service.</p>
        <a class="btn btn-primary btn-lg" href="/Flights" role="button">Book a Flight</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>FlightEase is dedicated to providing a seamless and enjoyable travel experience. We offer daily flights between major world cities with flexible booking options and personalized services.</p>
            <p><a class="btn btn-secondary" href="/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Our Services</h2>
            <ul>
                <li>Daily flights between New York, London, Tokyo, Dubai, Sydney, Cape Town, and Singapore</li>
                <li>Flexible booking options with multiple stopovers</li>
                <li>Economy and Business class tickets</li>
                <li>Automatic seat assignment</li>
                <li>Meal preferences including vegetarian, vegan, halal, kosher, gluten-free, and locally inspired meals</li>
                <li>Seasonal pricing adjustments</li>
                <li>Hotel reservations at your destination</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Customer Support</h2>
            <p>Our customer support team is here to assist you with any questions or concerns. We are committed to providing the best service possible to ensure a smooth and enjoyable travel experience.</p>
            <p><a class="btn btn-secondary" href="/Contact">Contact us &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Popular Destinations</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/newyork.jpg" class="img-fluid" alt="New York">
                    <h4>New York</h4>
                </div>
                <div class="col-md-3">
                    <img src="~/images/london.jpg" class="img-fluid" alt="London">
                    <h4>London</h4>
                </div>
                <div class="col-md-3">
                    <img src="~/images/tokyo.jpg" class="img-fluid" alt="Tokyo">
                    <h4>Tokyo</h4>
                </div>
                <div class="col-md-3">
                    <img src="~/images/dubai.jpg" class="img-fluid" alt="Dubai">
                    <h4>Dubai</h4>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="banner">
    <img src="~/images/banner.jpeg" alt="Banner Image">
</div> *@


