<footer class="border-top footer text-muted">
    <div class="container mw-100">
        &copy; 2025 - JARO airlines - Robin &amp; Jarne <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>