/*img {
    position: relative;
    width: 100vw;*/ /* Full viewport width */
    /*height: 400px;*/ /* Adjust height as needed */
    /*overflow: hidden;
    margin: 0;
    left: 0;
}

img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);*/ /* Black overlay with opacity */
/*}*/

/*.container {
    margin: 0;
    padding: 0;
}*/


.banner img {
    width: 100%;
    height: auto;
}

.banner {
    width: 100%;
}

