html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*homepage*/
.homeImage {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
    padding-left: 0px;
    margin-left: 0px;
}

.homeImage img {
    width: 100%;
    height: 100%;
}

.homeImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with opacity */
}