@section Styles {
    <link rel="stylesheet" href="~/css/flight.css" />
}
@if (Model != null)
{
    <div class="ticket">
        <div class="ticket-details">
            <div class="ticket-section">
                <div>
                    <p>Departure</p>
                    <p class="bold">Amsterdam (AMS)</p>
                </div>
                <div>
                    <p>Arrival</p>
                    <p class="bold">London (LHR)</p>
                </div>
            </div>

            <div class="ticket-section">
                <div>
                    <p>Date</p>
                    <p class="bold">10 March 2025</p>
                </div>
                <div>
                    <p>Time</p>
                    <p class="bold">14:30</p>
                </div>
            </div>

            <div class="ticket-section">
                <div>
                    <p>Seat</p>
                    <p class="bold">12A</p>
                </div>
                <div>
                    <p>Gate</p>
                    <p class="bold">B7</p>
                </div>
            </div>
        </div>
    </div>
}

