@section Styles {
    <link rel="stylesheet" href="~/css/flight.css" />
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>You are not logged in</h1>
            <p>Please register or login to book a flight</p>
            <div class="mt-3">
                <a href="/Identity/Account/Register" class="btn btn-primary mr-2">Register</a>
                <a href="/Identity/Account/Login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </div>
</div>
